<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PARABELLUM{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="flex flex-col min-h-screen">
  {% include "partials/_nav.html" %}
  <main class="flex-grow container mx-auto">
    {% block body %}{% endblock %}
  </main>
  {% include "partials/footer.html" %}
</body>
</html>
