<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PARABELLUM{% endblock %}</title>
    <link rel="stylesheet" href="/assets/tailwind.css">
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body class="flex flex-col min-h-screen">
  <!-- FIXME: Navbar just to test Daisy UI. Remove when tested-->
  <!--{% include "partials/_daisy_nav.html" %}-->
  {% include "partials/_nav.html" %}
  <main class="flex-grow container mx-auto">
    {% block body %}{% endblock %}
  </main>
  {% include "partials/_footer.html" %}
  <script src="/assets/index.js" type="application/javascript"></script>
</body>
</html>
