<div class="w-full mt-4 flex flex-col text-[11px] text-gray-600 px-4 max-w-[400px] gap-1">
  <div class="font-bold text-gray-800 border-b border-gray-300 pb-1 mb-1">{{t!("game.village.building_queue")}}:</div>
  {% if building_queue.is_empty() %}
  <div class="text-xs text-gray-500">
    {{t!("game.village.building_queue_empty")}}
  </div>
  {% else %}
    {% for item in building_queue %}
    <div class="flex justify-between w-full items-center">
      <a class="flex items-center gap-2 text-gray-800 hover:text-gray-900 hover:underline" href="/build?s={{ item.slot_id }}">
        <span class="{% if item.is_processing %}text-green-600{% else %}text-yellow-600{% endif %}">⏳</span>
        {{ item.building_name }} (Lv {{ item.target_level }})
      </a>
      <span class="font-semibold text-gray-800 queue-timer" data-seconds="{{ item.time_seconds }}">{{ item.time_remaining }}</span>
    </div>
    {% endfor %}
  {% endif %}
</div>
