<header class="bg-white border-b border-gray-300 shadow-sm">
{% match current_user %}
{% when Some(user) %}

<div class="flex justify-between items-center px-4 py-1 bg-gray-200 border-b border-gray-300 text-xs">
  <div class="font-serif font-bold text-lg text-gray-700 tracking-wide"><a class="cursor-pointer" href="/">PARABELLUM</a></div>

  <div class="flex items-center gap-3 text-gray-600">
    <span class="font-bold text-gray-800">{{ user.player.username }}</span>
    <span class="cursor-pointer font-bold hover:text-green-600 text-green-700 hover:underline"><a href="/logout">{{t!("nav.logout")}}</a></span>
    <span class="sm:inline text-[12px] text-gray-600">09:34:20</span>
  </div>
</div>
<div class='flex justify-center space-x-2 md:space-x-3 py-3 bg-gray-100 border-b border-gray-300 px-2 overflow-x-auto scrollbar-hide'>
  <div class='nav-icon {% if nav_active == "resources" %}nav-active{% endif %}' title="Fields">
    <a href='/resources'>🌾</a>
  </div>
  <div class='nav-icon {% if nav_active == "village" %}nav-active{% endif %}' title="Village Center">
    <a href='/village'>🏠</a>
  </div>
  <div class='nav-icon {% if nav_active == "map" %}nav-active{% endif %}' title="Map">
    <a href='/map'>🗺️</a>
  </div>
  <div class="nav-icon" title="Stats">📊</div>
  <div class="nav-icon" title="Reports">📜</div>
  <div class="nav-icon" title="Messages">✉️</div>
</div>
<div class="flex justify-center items-center py-2 bg-white flex-wrap px-2">
  <div class="res-item">
    <span class="mr-1">🌲</span>
    <span>{{ user.village.stored_resources().lumber() }}/{{ user.village.warehouse_capacity() }}</span>
  </div>
  <div class="res-item">
    <span class="mr-1">🧱</span>
    <span>{{ user.village.stored_resources().clay() }}/{{ user.village.warehouse_capacity() }}</span>
  </div>
  <div class="res-item">
    <span class="mr-1">⛏️</span>
    <span>{{ user.village.stored_resources().iron() }}/{{ user.village.warehouse_capacity() }}</span>
  </div>
  <div class="res-item">
    <span class="mr-1">🌾</span>
    <span>{{ user.village.stored_resources().crop() }}/{{ user.village.granary_capacity() }}</span>
  </div>
  <div class="res-item">
    <span class="mr-1">👤</span>
    <span>{{ user.village.population }}</span>
  </div>
</div>

{% when None %}

  <div class="container mx-auto flex justify-between items-center">
    <div class="font-serif font-bold text-2xl text-gray-700 tracking-wide">
      <a href="/">PARABELLUM</a>
    </div>
    <div class="space-x-4 text-sm font-bold text-gray-600">
      <a href="/login" class="hover:text-green-600 transition">{{t!("nav.login")}}</a>
      <a href="/register" class="text-green-700 hover:underline">{{t!("nav.register")}}</a>
    </div>
  </div>
{% endmatch %}
</header>
